<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDlu7ZU952UBHtI_V1ctNjj5M7AVJUvgnM</string>
	<key>GCM_SENDER_ID</key>
	<string>738522198227</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.rrbikerental</string>
	<key>PROJECT_ID</key>
	<string>rrbikerental-e8507</string>
	<key>STORAGE_BUCKET</key>
	<string>rrbikerental-e8507.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:738522198227:ios:efdbe9dca31f6bcf9ae426</string>
</dict>
</plist>